<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ltj.security.module.Role.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.ltj.security.module.Role.po.Role" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="namezh" property="namezh" jdbcType="VARCHAR" />
        <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="RoleMenuMap" type="com.ltj.security.module.Role.po.RoleCustom" extends="BaseResultMap">
        <collection property="mids" jdbcType="INTEGER" column="id" select="com.ltj.security.module.Role.mapper.RoleMapper.selectMenuIdsByRid">
        </collection>
    </resultMap>

    <select id="selectAllRoleMenu" resultMap="RoleMenuMap">
        SELECT * FROM role
    </select>

    <select id="selectMenuIdsByRid" resultType="java.lang.Integer">
        SELECT mid FROM menu_role WHERE rid = #{id}
    </select>
</mapper>