<div class="modal-header">
    <h3 class="modal-title">角色</h3>
</div>
<div class="col-sm-12">
<div class="col-sm-1"></div>
<div class="modal-body col-sm-10">
    <!--<div class="col-sm-12">-->
        <form name="form" class="form-validation">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="h4">分配角色</span>
                </div>
                <div class="panel-body">
                    <p class="text-muted">请选中角色</p>
                    <!--<div class="form-group pull-in clearfix">-->
                        <div class="form-group" ng-repeat="r in roleList track by r.id">
                            <label class="col-sm-3 control-label">{{r.namezh}}</label>
                            <label class="i-switch i-switch-md bg-info m-t-xs m-r">
                                <input type="checkbox" checked="" ng-model="r.choose">
                                <i></i>
                            </label>
                        </div>
                    <!--</div>-->
                </div>
            </div>
        </form>
    <!--</div>-->
</div>
<div class="col-sm-1"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ok()">确认</button>
</div>
