<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ltj.security.module.User.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.ltj.security.module.User.po.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="enabled" property="enabled" jdbcType="BIT" />
        <result column="locked" property="locked" jdbcType="BIT" />
        <result column="modify_userid" property="modify_userid" jdbcType="INTEGER" />
        <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="lazyLoadRoles" type="com.ltj.security.module.User.po.User" extends="BaseResultMap">
        <collection property="roles" ofType="com.ltj.security.module.Role" select="com.ltj.security.module.User.mapper.UserMapper.getUserRolesByUid"
                    column="id"></collection>
    </resultMap>

    <select id="loadUserByUsername" resultMap="lazyLoadRoles">
        SELECT * FROM user WHERE username = #{username}
    </select>
    <select id="getUserRolesByUid" resultType="com.ltj.security.module.Role.po.Role">
        SELECT * FROM role r,user_role ur where r.id = ur.rid AND ur.uid = #{id}
    </select>

    <select id="selectAllUser" resultMap="BaseResultMap">
        SELECT * FROM user
    </select>

    <!--注册用户-->
    <insert id="insertUserSelective">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test='name != null and name != "" '>
                `name`,
            </if>
            <if test='sex != null and sex != "" '>
                sex,
            </if>
            <if test='phone != null and phone != "" '>
                phone,
            </if>
            <if test='username != null and username != "" '>
                username,
            </if>
            <if test='password != null and password != "" '>
                password,
            </if>
            <if test='enabled == true or enabled == false '>
                enabled,
            </if>
            <if test='locked == true or locked == false '>
                locked,
            </if>
            <if test='modify_userid != null and modify_userid != "" '>
                modify_userid,
            </if>
            <if test='modifydate != null'>
                modifydate
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test='name != null and name != "" '>
                #{name},
            </if>
            <if test='sex != null and sex != "" '>
                #{sex},
            </if>
            <if test='phone != null and phone != "" '>
                #{phone},
            </if>
            <if test='username != null and username != "" '>
                #{username},
            </if>
            <if test='password != null and password != "" '>
                #{password},
            </if>
            <if test='enabled == true or enabled == false '>
                #{enabled},
            </if>
            <if test='locked == true or locked == false '>
                #{locked},
            </if>
            <if test='modify_userid != null and modify_userid != "" '>
                #{modify_userid},
            </if>
            <if test='modifydate != null and modifydate != "" '>
                #{modifydate},
            </if>
        </trim>
    </insert>

    <update id="updateUserSelective">
        UPDATE user
        <trim prefix="set" suffixOverrides=",">
            <if test='name != null and name != "" '>
                `name`=#{name},
            </if>
            <if test='sex != null and sex != "" '>
                sex=#{sex},
            </if>
            <if test='phone != null and phone != "" '>
                phone=#{phone},
            </if>
            <if test='username != null and username != "" '>
                username=#{username},
            </if>
            <if test='password != null and password != "" '>
                password=#{password},
            </if>
            <if test='enabled == true or enabled == false '>
                enabled=#{enabled},
            </if>
            <if test='locked == true or locked == false '>
                locked=#{locked},
            </if>
            <if test='modify_userid != null and modify_userid != "" '>
                modify_userid=#{modify_userid},
            </if>
            <if test='modifydate != null '>
                modifydate=#{modifydate},
            </if>
        </trim>
        where id = #{id}
    </update>

</mapper>