<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ltj.security.module.Menu.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.ltj.security.module.Menu.po.Menu" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="component" property="component" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="iconcls" property="iconcls" jdbcType="VARCHAR" />
        <result column="keepalive" property="keepalive" jdbcType="INTEGER" />
        <result column="requireauth" property="requireauth" jdbcType="INTEGER" />
        <result column="parentid" property="parentid" jdbcType="INTEGER" />
        <result column="enabled" property="enabled" jdbcType="INTEGER" />
        <result column="modify_userid" property="modify_userid" jdbcType="INTEGER" />
        <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
    </resultMap>

    <!--后台管理视图-->
    <resultMap id="MenuManageMap" type="com.ltj.security.module.Menu.po.Menu" extends="BaseResultMap">
        <!--角色集合-->
        <collection property="roles" ofType="com.ltj.security.module.Role.po.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnamezh" property="namezh"/>
        </collection>
    </resultMap>

    <!--后台可视列表视图-->
    <resultMap id="MenuShowMap" type="com.ltj.security.module.Menu.po.Menu" extends="BaseResultMap">
        <!--子菜单-->
        <collection property="children" ofType="com.ltj.security.module.Menu.po.Menu" select="com.ltj.security.module.Menu.mapper.MenuMapper.selectShowMenu"
                    column="id"></collection>
    </resultMap>

    <!--后台全部列表视图-->
    <resultMap id="MenuAllMap" type="com.ltj.security.module.Menu.po.Menu" extends="BaseResultMap">
        <!--子菜单-->
        <collection property="children" ofType="com.ltj.security.module.Menu.po.Menu" select="com.ltj.security.module.Menu.mapper.MenuMapper.selectAllMenu"
                    column="id"></collection>
    </resultMap>

    <select id="getAllMenu" resultMap="MenuManageMap">
        SELECT
            m.*,
            r.`id` AS rid,
            r.`name` AS rname,
            r.`nameZh` AS rnamezh
        FROM
            menu m
            LEFT JOIN menu_role mr ON m.`id` = mr.`mid`
            LEFT JOIN role r ON mr.`rid` = r.`id`
        WHERE
            m.`enabled` = TRUE
        ORDER BY
            m.`id` DESC
    </select>

    <!--查询后台可视列表-->
    <select id="selectShowMenu" resultMap="MenuShowMap">
        SELECT
            m.*
        FROM
            menu m
        WHERE
            m.parentid = #{id}
            AND m.`enabled` = TRUE
    </select>


    <!--查询后台全部列表-->
    <select id="selectAllMenu" resultMap="MenuAllMap">
        SELECT
            m.*
        FROM
            menu m
        WHERE
            m.parentid = #{id}
    </select>



</mapper>