<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="MenuController">
    <div class="col w-sm bg-light b-r bg-auto">
        <div class="wrapper-md">
            <!--<button ng-click="try_changing_the_tree_data()" class="btn btn-default btn-block m-b">Change The Tree Definition</button>
            <button ng-click="try_async_load()" class="btn btn-default btn-block">Load Tree Data Asynchronously</button>
            <div class="line b-b line-lg"></div>-->
            <h5>操作:</h5>
            <button ng-click="my_tree.select_first_branch()" class="btn btn-default btn-sm">第一个分支</button>
            <div class="m-t-sm m-b-sm">
                <button ng-click="my_tree.select_next_sibling()" class="btn btn-default btn-sm">下一个同级菜单</button>
                <button ng-click="my_tree.select_prev_sibling()" class="btn btn-default btn-sm">上一个同级菜单</button>
            </div>
            <div class="m-b-sm">
                <button ng-click="my_tree.select_next_branch()" class="btn btn-default btn-sm">下一个分支</button>
                <button ng-click="my_tree.select_prev_branch()" class="btn btn-default btn-sm">上一个分支</button>
            </div>
            <button ng-click="my_tree.select_parent_branch()" class="btn btn-default btn-sm">父菜单</button>
            <div class="m-t-sm m-b-sm">
                <button ng-click="my_tree.expand_branch()" class="btn btn-default btn-sm">展开</button>
                <button ng-click="my_tree.collapse_branch()" class="btn btn-default btn-sm">收起</button>
            </div>
            <div class="m-t-sm m-b-sm">
                <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">全部展开</button>
                <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">全部收起</button>
            </div>
            <div class="line b-b line-lg"></div>
            <div class="m-t-sm m-b-sm">
                <button ng-click="addBranch(0)" class="btn btn-success btn-sm"><i class="fa fa-fw m-r-xs fa-plus"></i> 添加根</button>
            </div>
            <div class="m-t-sm m-b-sm">
                <button ng-click="addBranch(1)" class="btn btn-success btn-sm"><i class="fa fa-fw m-r-xs fa-plus"></i> 添加分支</button>
            </div>
            <div class="m-t-sm m-b-sm">
                <button ng-click="delete()" ng-disabled="menu.children.length!==0" class="btn btn-danger btn-sm"><i class="fa fa-fw m-r-xs fa-plus"></i> 删除分支</button>
            </div>
        </div>
    </div>
    <div class="col w-lg bg-light b-r bg-auto">
        <div class="wrapper-md">
            <div class="b-a bg-light dk r r-2x">
                <span ng-if="doing_async">...载入中...</span>
                <abn-tree
                        tree-data         = "my_data"
                        tree-control      = "my_tree"
                        on-select         = "my_tree_handler(branch)"
                        expand-level      = "2"
                        initial-selection = "Granny Smith"
                        icon-leaf         = "fa fa-file-o"
                        icon-expand       = "fa fa-plus"
                        icon-collapse     = "fa fa-minus"
                        tree-label        = "name"
                        tree-children     = "children"
                >
                </abn-tree>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="wrapper-md">
            <!--<div class="alert alert-info">{{output}}</div>-->
            <div class="col-sm-6" ng-if="menu">
                <form name="form" class="form-horizontal form-validation">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>编辑菜单</strong>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">路径规则</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="url" ng-model="menu.url" required >
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">路由path</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="path" ng-model="menu.path" required >
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">组件名</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="name" ng-model="menu.name" required >
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">菜单图标</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="iconcls" ng-model="menu.iconcls" >
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">是否启用</label>
                                <label class="i-switch i-switch-md bg-info m-t-xs m-r">
                                    <input type="checkbox" checked="" ng-model="menu.enabled">
                                    <i></i>
                                </label>
                            </div>

                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="button" class="btn btn-success" ng-disabled="form.$invalid" ng-click="commit()">提交</button>
                        </footer>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>-->